{% extends 'user_nav.html' %}
{% load static %}
{% block body %}

<div class="container mt-5">
    <h2 class="text-center">PROFILE</h2>
    <hr><hr><br>
    <div class="row">
        <div class="col-md-6">
            <h5><b>Full Name : </b></h5>
        </div>
        <div class="col-md-6" style="text-transform: capitalize;">
            <h5>{{data.user.first_name}} {{data.user.last_name}}</h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h5><b>Email : </b></h5>
        </div>
        <div class="col-md-6">
            <h5>{{data.user.username}}</h5>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h5><b>Contact : </b></h5>
        </div>
        <div class="col-md-6">
            <h5>{{data.contact}}</h5>
        </div>
    </div>
    <hr>
    <!-- <div class="row">
        <div class="col-md-6">
            <h5><b>Branch : </b></h5>
        </div>
        <div class="col-md-6">
            <h5>{{data.branch}}</h5>
        </div>
    </div>
    <hr> -->
    <div class="row">
        <div class="col-md-6">
            <h5><b>Role : </b></h5>
        </div>
        <div class="col-md-6">
            <h5>{{data.role}}</h5>
        </div>
    </div><br><hr><br>
    <a class="bb btn btn-primary" href="{% url 'edit_profile' %}">Edit Profile</a>
    <br><hr>
    <a class="bb btn btn-primary" href="{% url 'changepassword' %}">Change Password</a>
</div>


{% endblock %}