{% extends 'base.html' %}

{% load static %}
{% block body %}

{% ifequal error "no" %}
<script>
    alert('SignUp Successfull');
    window.location=("{% url 'login' %}");
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert('Something went Wrong, Try again');
</script>
{% endifequal %}

<style>
    .doabout{
        margin-top:30px;
        padding-top: 10px;
    }
    .bgg{
        background: linear-gradient(to right top, rgba(229, 231, 178, 0.767), rgba(178, 233, 106, 0.7), rgba(221, 139, 191, 0.7));
        border-radius: 10px;
    }
</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/sign-up.png' %}" style="width:80%">
        </div>
        <div class="col-sm-6 bgg">
            <h2 class="doabout text-center"></i><b>CREATE ACCOUNT</b></h2>
            <hr>
            <p class="text-center"><b>If dont have account,REGISTER</b>
                <hr><hr><br>
            </p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <input type="text" class="form-control" placeholder="Enter first name" name="fname">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name:</label>
                    <input type="text" class="form-control" placeholder="Enter last name" name="lname">
                </div>
                 <div class="form-group">
                    <label for="contact">Contact:</label>
                    <input type="text" class="form-control" placeholder="Enter contact number" name="contact">
                 </div>
                <div class="form-group">
                  <label for="email">Email address:</label>
                  <input type="email" class="form-control" placeholder="Enter email" name="email">
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" placeholder="Enter password" name="pwd" id="logpassword">
                </div>
                <div class="form-group">
                    <label for="role">Role:</label>
                    <select class="form-control" placeholder="Enter Role" name="role">
                        <option value="Women">Women</option>
                        <option value="Doctor">Doctor</option>
                    </select>
                </div>
                <div class="form-group form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" onclick="showPassword()"> Show Password
                  </label>
                </div>
                <button type="submit" class="bb btn btn-primary">SIGN UP</button><hr><hr>
              </form>

        </div>
    </div>
</div>
<script>
    function showPassword() {
            var x = document.getElementById("logpassword");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
</script>


{% endblock %}